#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#resultDice {
  background-color: var(--darkColor);
  border: 2px solid var(--accentColor);
  color: var(--brightColor);
  padding: .5em 1em;
  width: 100%;
}

#diceInputs {
  display: flex;
  flex-wrap: nowrap;
  height: 5em;
  overflow-x: scroll;
  justify-content: flex-start;
}

#result {
  height: 2em;
  font-size: 2em;
  text-align: right;
  width: 100%;
}

.diceInput {
  display: inline;
  font-size: 2em;
  min-width: max-content;
  width: max-content;
}

#options {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 1rem;
}

#dicesOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#dicesOptions>button,
#operations>button {
  background-color: var(--darkColor);
  border: 2px solid var(--accentColor);
  border-radius: 5px;
  color: var(--brightColor);
  font-size: 2em;
  margin: .2em;
  padding: .1em .3em;
}

#dicesOptions>button:active,
#operations>button:active {
  background-color: var(--accentColor);
  border-color: var(--brightColor);
  color: var(--brightColor);
}

#operations>button:disabled {
  background-color: gray;
  color: var(--darkColor);
}

#operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#equalsOperator {
  grid-column-start: 1;
  grid-column-end: 3;
}

.numberInput {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;

  background-color: transparent;
  border: none;
  border-bottom: .1em solid var(--accentColor);
  color: var(--brightColor);
  font-size: 1em;
  outline: none;
}