#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#diceFrame {
  background-color: var(--brightColor);
  border: 2px solid var(--accentColor);
  color: var(--darkColor);
  padding: .5em 1em;
  width: 100%;
}

#result {
  height: 2em;
  font-size: 2em;
  text-align: right;
  width: 100%;
}

.diceInput {
  display: inline;
  font-size: 2em;
  min-width: max-content;
  width: max-content;
}

#options {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 1rem;
}

#dicesOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#dicesOptions>button,
#operations>button {
  background-color: var(--accentColor);
  border: 2px solid var(--brightColor);
  border-radius: 5px;
  color: var(--brightColor);
  font-size: 2em;
  margin: .2em;
  padding: .1em .3em;
  cursor: pointer;
  width: 3em;
}

#operations>button {
  max-height: 27%;
}

#dicesOptions>button:active,
#operations>button:active {
  background-color: var(--darkAccentColor);
  border-color: var(--brightColor);
  color: var(--darkColor);
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

#operations {
  display: flex;
  flex-direction: column;
}

.numberInput {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;

  background-color: transparent;
  border: none;
  border-bottom: .1em solid var(--accentColor);
  color: var(--darkColor);
  font-size: 2em;
  outline: none;
}