:root {
  --brightColor: #eeeeee;
  --darkColor: #111111;
  --accentColor: #2b4ecb;
  --darkAccentColor: #2c273f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--brightColor);
}